spawn {
    pos 0.0 1.0 0.0
}

finish {
    pos 0.0 1.0 -10.0
}

plane 5.0 7.5 {
    pos 0.0 0.0 -1.25
}

plane 5.0 7.5 {
    pos 0.0 0.5 -8.75
}

text "Tutorial 2" font=preload:title pt=80.0 {
    pos 0.0 1.8 -1.5
}

text "You can use the\n'space' key to jump" {
    pos -2.0 1.0 -5.0
    rot y 22.5
}

text "Movement is based on rotation,\nwhich means you cannot change movement\ndirection in mid-air. You need to build\nup momentum to clear the gap." {
    pos 2.5 0.8 -3.0
    rot y -90.0
}

// death plane
plane 100.0 type=death {
    pos 0.0 -10.0 0.0
}
